// F4P menu partial

.c-menu {
    @extend %u-box-shadow-no;
}

.o-header {
    .o-mainnav-list {
        @extend .u-fixed;
        @extend .u-width100;
        @extend .u-height100-prcnt;
        @extend .u-top-0;
        @extend .u-left-0;
        @extend .u-transition-all;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
    }
    .o-search-box {
        @extend .o-mainnav-list;
    }
    .open {
        opacity: 1;
        visibility: visible;
    }
    .c-header__nav {
        @extend .o-dark;
        @extend .center-align;
        @extend .u-height100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                align-items: center;
                flex: 1;
                line-height: 20vh;
                a {
                    font-size: 1.5em;
                    transition: all 0.5s ease;
                    display: block;
                    text-decoration: none;
                    color: rgba(255, 255, 255, .5);
                    &:hover {
                        color: rgba(255, 255, 255, .9);
                        transform: scale(1.1);
                        &:before {
                            visibility: visible;
                            transform: scaleX(1);
                        }
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        width: 50%;
                        height: 2px;
                        bottom: 0;
                        left: 25%;
                        background: white;
                        visibility: hidden;
                        transform: scaleX(0);
                        transition: all 0.3s ease-in-out 0s;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 600px) {
      .c-header__nav ul li a {
        font-size: 3em;
      }
    }

    .close {
        position: fixed;
        top: 40px;
        right: 60px;
        color: white;
        z-index: 3;
        cursor: pointer;
        font-family: sans-serif;
      span,
      span:before,
      span:after {
        border-radius: 4px;
        height: 5px;
        width: 35px;
        background: white;
        position: absolute;
        display: block;
        content: '';
        }
      span {
            background: transparent;
        }
      span:before {
            transform: rotate(45deg);
        }
      span:after {
            transform: rotate(-45deg);
        }
    }
    .outer-close {
        position: absolute;
        right: 0;
        top: 0;
        width: 85px;
        height: 85px;
        cursor: pointer;
    }
}


.c-footer__nav {
    background-color: $transparent;
    height: auto;
    line-height: inherit;
    overflow: hidden;
    width: auto;
    ul {
        a {
            padding: $all-zero;
        }
    }
    li {
        margin-bottom: $all-zero + 4;
        padding-right: $all-zero + 25;
        position: relative;
        &:before {
            content: "\002f";
            position: absolute;
            right: $all-zero + 10;
        }
        &:last-child {
            &:before {
                display: none;
            }
        }
    }
}
