// F4P menu partial

.c-menu {
    @extend %u-box-shadow-no;
}

.o-header {
    .o-header-ovrlay {
        @extend .u-fixed;
        @extend .u-width100;
        //@extend .u-height100-prcnt;
        @extend .u-top-0;
        @extend .u-left-0;
        @extend .u-transition-all;
        @extend .o-dark;
        @extend .center-align;
        @extend .u-height100;
        @extend .u-valign-middle;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
        &__inner {
            @extend .u-valign-middle-inner;
            @extend .left-align;
            @extend .u-gotham-ffamily;
            padding: $all-zero $f4p-grid-width-100 / 12;
            width: $f4p-grid-width-100 / 2;
            &:last-child {
                @extend .right-align;
                @extend .u-timesnwrman-ffamily;
            }
        }
    }
    .o-search-box {

    }
    .open {
        opacity: 1;
        visibility: visible;
    }
    .c-header__nav {
        @extend %u-bg-color-trans;
        display: flex;
        flex-direction: column;
        justify-content: center;
        ul {
            li {
                align-items: center;
                flex: 1;
                @extend .u-display-block;
                @extend %u-no-float;
                a {
                    @extend .u-transition-all;
                    &:hover {
                        color: rgba(255, 255, 255, .9);
                    }
                }
            }
        }
    }
    @media screen and (min-width: 600px) {
      .c-header__nav ul li a {
        font-size: 3em;
      }
    }

    .close {
        position: fixed;
        top: 40px;
        right: 60px;
        color: white;
        z-index: 3;
        cursor: pointer;
        font-family: sans-serif;
      span,
      span:before,
      span:after {
        border-radius: 4px;
        height: 5px;
        width: 35px;
        background: white;
        position: absolute;
        display: block;
        content: '';
        }
      span {
            background: transparent;
        }
      span:before {
            transform: rotate(45deg);
        }
      span:after {
            transform: rotate(-45deg);
        }
    }
    .outer-close {
        position: absolute;
        right: 0;
        top: 0;
        width: 85px;
        height: 85px;
        cursor: pointer;
    }
}


.c-footer__nav {
    background-color: $transparent;
    height: auto;
    line-height: inherit;
    overflow: hidden;
    width: auto;
    ul {
        a {
            padding: $all-zero;
        }
    }
    li {
        margin-bottom: $all-zero + 4;
        padding-right: $all-zero + 25;
        position: relative;
        &:before {
            content: "\002f";
            position: absolute;
            right: $all-zero + 10;
        }
        &:last-child {
            &:before {
                display: none;
            }
        }
        &.active {
            a {
                opacity: 0.4;
            }
        }
    }
}
