// F4P preloader partial

.c-preloader {

}


.loadingoverlay {
    position: fixed !important;
    height: $f4p-grid-height-100 !important;
    .loadingoverlay_fontawesome {
        color: $f4p-hlight-tone;
    }
    .loadingoverlay_progress_bar {
        background-color: $f4p-hlight-tone;
    }
    .loadingoverlay_progress_text {
        display: none;
    }
}
