// F4P titles partial

// titles
.c-title {
    position: relative;
    &.c-title--border-bottom {
        margin-bottom: $all-zero + 30;
        padding-bottom: $all-zero + 5;
        &:after {
            bottom: $all-zero;
            display: block;
            height: $all-zero + 2;
            left: $all-zero;
            position: absolute;
            width: $all-zero + 60;
        }
    }
    &.c-title--border-top {
        @extend .c-title--border-bottom;
        padding: $all-zero + 5 $all-zero $all-zero;
        &:after {
            top: $all-zero;
        }
    }
    &.c-title--border-middle {
        @extend .c-title--border-bottom;
        &:after {
            left: $f4p-grid-width-100 / 2;
            @include translateX(-$f4p-grid-width-100 /2);
        }
    }
    &.c-title--border-base-color {
        &:after {
            background-color: $f4p-base-color;
        }
    }
    &.c-title--border-hlight-color {
        &:after {
            background-color: $f4p-hlight-tone;
        }
    }
    span {
        display: block;
    }
    &.c-portfolio__title {
        z-index: 10;
    }
    &.c-clients__title {
        @extend .c-portfolio__title;
    }
}


.c-title--banner {
    span {
        letter-spacing: $all-zero + 4;
        margin-top: $all-zero + 20;
        padding-top: $all-zero + 20 !important;
    }
}

.c-crisp-title {
    font-family: $srcsanspro-font-family;
    font-weight: 100;
}
