// F4P titles partial

// titles
.c-title {
    position: relative;
    &.c-title--border-bottom {
        margin-bottom: $all-zero + 30;
        padding-bottom: $all-zero + 5;
        &:after {
            bottom: $all-zero;
            display: block;
            height: $all-zero + 2;
            left: $all-zero;
            position: absolute;
            width: $all-zero + 60;
        }
    }
    &.c-title--border-bottom-middle {

    }
    &.c-title--border-top {
        @extend .c-title--border-bottom;
        padding: $all-zero + 5 $all-zero $all-zero;
        &:after {
            top: $all-zero;
        }
    }
    &.c-title--border-base-color {
        &:after {
            background-color: $f4p-base-color;
        }
    }
    &.c-title--border-hlight-color {
        &:after {
            background-color: $f4p-hlight-tone;
        }
    }
    span {
        display: block;
    }
    &.c-portfolio__title {
        z-index: 10;
    }
}
