// F4P layout partial

// highlight color area
.o-hlight {
    background-color: $f4p-hlight-tone;
}

// dark color area
.o-dark {
    background-color: $f4p-dark-tone;
}

// overlay area
.o-overlay--05 {
    background-color: rgba(0,0,0,0.5);
}

// link color
.u-linkhlight {
    color: $f4p-hlight-tone;
    a {
        @extend .u-linkhlight;
    }
}
.u-linkbase {
    color: $f4p-base-color;
    a {
        @extend .u-linkbase;
    }
}

// text color
.u-txtgrey {
    color: $f4p-grey-color;
}

// height 100%
.u-height100 {
    height: $f4p-grid-height-100;
}

// width
.u-width80 {
    width: $f4p-grid-width-100 / 1.14;
}

// padding
.u-topbottom-pad-50 {
    padding: 50px 0;
}

// card element
.card {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    .card-content {
        padding: 0;
    }
    .card-action {
        border-top: none;
    }
}

// text transform
.u-uppercase {
    text-transform: uppercase;
}
.u-capitalize {
    text-transform: capitalize;
}



