// F4P header partial

.c-brand {
    left: $all-zero + 30;
    right: $all-zero + 30;
    top: $all-zero + 30;
    z-index: 6;
    @media #{$large-and-up} {
        left: $all-zero + 50;
        right: $all-zero + 50;
        top: $all-zero + 50;
    }
    &__cta {
        @extend .right;
        @extend .u-display-in-block;
    }
}

