// F4P footer partial

footer {
    font-family: $bauhaus-font-family;

    p {
        margin: $all-zero;
    }
}

.u-footer-gap {
    margin-bottom: $all-zero + 25;
}

.c-footer__copyright {
    margin: $all-zero + 15 $all-zero;
}
